<form role="form" (ngSubmit)="onSubmitcreateNewTaskForm(createNewTaskForm)" [formGroup]="createNewTaskForm">
<div mat-dialog-content>
  <p>Add new task name</p>
  <mat-form-field>
    <input matInput type="text" formControlName="TaskName">
  </mat-form-field>
  <p color="warn" *ngIf="createNewTaskForm.get('TaskName').touched && createNewTaskForm.get('TaskName').hasError('required')">This field is required</p>
  <p color="primary" *ngIf="alreadyExist">This task already exist</p>
</div>
<div mat-dialog-actions>
  <button mat-button type="button" (click)="onNoClick()">No Thanks</button>
  <button type="submit" [disabled]="createNewTaskForm.invalid" mat-button cdkFocusInitial>Ok</button>
</div>
</form>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->